<tr>
  <td>
    {{! show a row with a button only if tech id is true }}
    {{! Need to click button and not have an anchor direct }}
    {{#if isTech}}
      {{#if notClaimed}}
        <div class='table-cell table-btn'>
          <button data-id='{{this.id}}' id='claim-btn' class='table-btn'>
            Claim
          </button>
        </div>
      {{/if}}
    {{/if}}
  </td>
  <td>
    <div class='table-cell'>
      {{this.status}}
    </div>
  </td>
  <td>
    <div class='table-cell'>
      {{this.urgency}}
    </div>
  </td>
  <td>
    <div class='table-cell'>
      {{this.client.firstName}}
    </div>
  </td>
  <td>
    <div class='table-cell'>
      {{this.tech.firstName}}
    </div>
  </td>
  <td>
    <div class='table-cell created-on'>
      {{format_date this.createdAt}}
    </div>
  </td>
  <td>
    <div class='table-cell'>
      <a href='/ticket/{{this.id}}'>
        <button class='table-btn'>View</button>
      </a>
    </div>
  </td>
</tr>