<tr>
  <th>
    {{!-- show a row with a button only if tech id is true --}}
    {{!-- Need to click button and not have an anchor direct --}}
    {{#if isTech}}
    <button data-id = '{{this.id}}' id="claim-btn">
      Claim 
    </button>
    {{/if}}
  </th>
  <a href="/ticket/{{id}}">
    <th>
      {{this.status}}
    </th>
    <th>
      {{this.urgency}}
    </th>
    <th>
      {{this.client.firstName}}
    </th>
    <th>
      {{this.tech.firstName}}
    </th>
    <th>
      {{this.createdAt}}
    </th>
  </a>
</tr>