<tr>
  <td>
    {{! show a row with a button only if tech id is true }}
    {{! Need to click button and not have an anchor direct }}
    {{#if isTech}}
      {{#if notClaimed}}
        <button data-id='{{this.id}}' id='claim-btn'>
          Claim
        </button>
      {{/if}}
    {{/if}}
  </td>
  <a href='/ticket/{{this.id}}'>
    <td>
      {{this.status}}
    </td>
    <td>
      {{this.urgency}}
    </td>
    <td>
      {{this.client.firstName}}
    </td>
    <td>
      {{this.tech.firstName}}
    </td>
    <td>
      {{format_date this.createdAt}}
    </td>
  </a>
</tr>